<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Perfil</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-2 pr-md-1">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input type="number" class="form-control" placeholder="Código" minlength="0"
                                        maxlength="10" disable="true" ng-model="perfil.Codigo">
                                </div>
                            </div>
                            <div class="col-md-3 pr-md-1">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" placeholder="Nome" minlength="0"
                                        maxlength="50" required ng-model="perfil.Nome">
                                </div>
                            </div>
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>Login</label>
                                    <input type="text" class="form-control" placeholder="Login" minlength="0"
                                        maxlength="15" required ng-model="perfil.Login">
                                </div>
                            </div>
                            <div class="col-md-3 pr-md-1">
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input type="password" class="form-control" placeholder="Senha" minlength="0"
                                        maxlength="50" required ng-model="perfil.Senha">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div align="right">
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary" ng-click="cancel()"><i
                                class="fas fa-ban mr-2"></i>
                            Cancelar</button>
                        <button type="submit" class="btn btn-fill btn-primary" ng-click="update(usuarioAd)"><i
                                class="fas fa-save mr-2"></i>
                            Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>