<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edição de Reserva</h5>
                </div>
                <div class="card-body">
                    <form name="reservaNewForm">
                        <div class="row">
                            <div class="col-md-2 pr-md-1">
                                    <div class="form-group">
                                        <label>Data Início</label>
                                        <label class="form-control">{{reserva.dataInicio | date:'dd/MM/yyyy'}}</label>
                                    </div>
                                </div>
                                <div class="col-md-2 pr-md-1">
                                    <div class="form-group">
                                        <label>Data Término</label>
                                        <label class="form-control">{{reserva.dataTermino | date:'dd/MM/yyyy'}}</label>
                                    </div>
                                </div>
                            <div class="col-md-2 px-md-1">
                                <div class="form-group">
                                    <label>Disciplina</label>
                                    <label class="form-control">{{reserva.descricaoDisciplina}}</label>
                                </div>
                            </div>
                            <div class="col-md-2 px-md-1">
                                <div class="form-group">
                                    <label>Semestre</label>
                                    <label class="form-control">{{reserva.descricaoSemestre}}</label>
                                </div>
                            </div>
                            <div class="col-md-2 px-md-1">
                                <div class="form-group">
                                    <label>Sala</label>
                                    <label class="form-control">{{reserva.descricaoSala}}</label>
                                </div>
                            </div>                          
                        </div>
                    </form>

                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card  card-plain">
                                    <div class="card-header">
                                        <h4 class="card-title"> Detalhes </h4>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-2 pr-md-1">
                                            <div class="form-group">
                                                <label>Hora Início</label>
                                                <input type="time" class="form-control"
                                                    ng-model="detalhe.horaInicio">
                                            </div>
                                        </div>

                                        <div class="col-md-2 pr-md-1">
                                            <div class="form-group">
                                                <label>Hora Término</label>
                                                <input type="time" class="form-control"
                                                    ng-model="detalhe.horaTermino">
                                            </div>
                                        </div>

                                        <div class="col-md-2 pr-md-1">
                                            <div class="form-group">
                                                <label class="form-control-label">Dia</label>
                                                <select style="background-color: #27293d;" class="form-control"
                                                    ng-model="detalhe.dia"
                                                    ng-options="o.valor as o.texto for o in opcoesCombo" required>
                                                    <option value="" disabled>Selecione</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2 pr-md-1">
                                            <div class="form-group">
                                                <button style="margin-top: 24px" class="btn btn-fill btn-primary"
                                                    ng-click="associar(detalhe)">Associar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <!-- <div class="table-responsive"> -->
                                        <table class="table tablesorter " id="">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>
                                                        Id
                                                    </th>
                                                    <th>
                                                        Hora Início
                                                    </th>
                                                    <th>
                                                        Hora Término
                                                    </th>
                                                    <th>
                                                        Dia
                                                    </th>
                                                    <th>
                                                        AÇÕES
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="detalhe in detalhes">
                                                    <td>
                                                        {{detalhe.id}}
                                                    </td>
                                                    <td>
                                                        {{detalhe.horaInicio | date:'HH:mm'}}
                                                    </td>
                                                    <td>
                                                        {{detalhe.horaTermino | date:'HH:mm'}}
                                                    </td>
                                                    <td>
                                                        {{detalhe.descricaoDia}}
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <i class="fas fa-times" style="cursor: pointer;"
                                                                ng-click="desassociar(detalhe.id)"></i>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div align="right">
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary" ng-click="cancel()"><i
                                class="fas fa-ban mr-2"></i>
                            Cancelar</button>
                        <!-- <button type="submit" class="btn btn-fill btn-primary" ng-click="update(reserva)"><i
                                class="fas fa-save mr-2"></i>
                            Salvar</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>